@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap');

.App {
  text-align: center;
}

* {
  color: white;
  font-family: 'Raleway';
}

.vh-70 {
  height: 70vh;
}

.tempValue {
  font-size: 4rem;
}

.highLow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hr {
  /* height: 5px; */
  border-top: 3px solid white;
  margin-left: 50px;
  margin-right: 50px;
}

.roundedCorner {
  border-radius: 25px;
}

header {
  background: linear-gradient(
    0deg,
    rgba(135, 149, 209, 1) 0%,
    rgba(76, 73, 149, 1) 100%
  );
}
